<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcxs.mapper.news.newsBeanMapper" >
  <resultMap id="NewsResultMap" type="com.lcxs.model.news.newsBean" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="praise" property="praise" jdbcType="BIGINT" />
    <result column="collection" property="collection" jdbcType="BIGINT" />
    <result column="ntime" property="ntime" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="News_Column_List" >
    id, title, context, source, praise, collection, ntime, imgurl
  </sql>

  <select id="queryAll" resultType="com.lcxs.model.news.newsBean" parameterType="com.lcxs.utils.BaseConditionVO" >
    select
    <include refid="News_Column_List" />
    from c_news
    <if test="keywords!=null">
      where title like "%"#{keywords}"%"
    </if>
  </select>
  <delete id="deleteByNewsid" parameterType="java.lang.Long">
    delete from c_news where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcxs.model.news.newsBean">
    insert into c_news(id,title,context,source,praise,collection,ntime,imgurl)
    VALUES (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR},
      #{source,jdbcType=VARCHAR}, #{praise,jdbcType=BIGINT}, #{collection,jdbcType=BIGINT},
      #{ntime,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR})
  </insert>
  <select id="findByid" resultType="com.lcxs.model.news.newsBean" parameterType="java.lang.Long">
    SELECT
    <include refid="News_Column_List" />
    FROM c_news
    WHERE id = #{id,jdbcType=BIGINT}

  </select>
  <update id="update" parameterType="com.lcxs.model.news.newsBean">
    UPDATE c_news
    SET
    title=#{title,jdbcType=VARCHAR},
    context=#{context,jdbcType=VARCHAR},
    source=#{source,jdbcType=VARCHAR},
    praise=#{praise,jdbcType=BIGINT},
    collection=#{collection,jdbcType=BIGINT},
    ntime=#{ntime,jdbcType=VARCHAR},
    imgurl=#{imgurl,jdbcType=VARCHAR}
    WHERE id=#{id,jdbcType=BIGINT}

  </update>

</mapper>